# 忽略Python字节码文件
__pycache__/
*.py[cod]

# 忽略IDE/编辑器生成的文件和目录
.idea/
.vscode/

# 忽略本地配置文件
config.ini

# 忽略依赖库和构建/编译产生的文件
venv/
dist/
build/
*.egg-info/
*.pyc
*.pyo

# 忽略日志文件
*.log

# 忽略临时文件和临时目录
temp/
temp*/

# 忽略一些特定的文件或目录
example.txt
secret/

# 忽略编译后的可执行文件
*.exe

# 忽略备份文件
*.bak
*.swp
*.json
