[directus]


url = http://localhost:8055
token = GNuG2xodzTMY19AaYh0r7yYNWSqWF-AE

#Michael
#url = http://192.168.10.19:8055
#token = 0vp4_k4I_J9hrowSBdxX8LX-f73D6e1S

#OWEN
#url = http://192.168.10.26:8055
#token = dl9_BhAqAt5R27VUxE4BwYd-wIs3kbPW

[system]
folder = ../demo

